<nav class="navbar navbar-light navbar-expand-md navigation-clean">
  <div class="container">
    <img src="../static/assets/img/shark.jpeg" style="width: 80px;" /><a
      class="navbar-brand"
      href="/"
      >Connect to your Community</a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navcol-1"
    >
      <span class="sr-only">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link " href="/">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="/events-default">Events</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="/comparetwo">Compare</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="/learnmore">Learn More</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
