{% extends 'layout.html' %}
{% include 'includes/_navbar.html' %} {% block body %}


<body>
  <!-- <select id="list" onchange="getSelectValue();">
    <option value="Boroondara">Boroondara</option>
    <option value="Casey">Casey</option>
    <option value="Greater Dandenong">Greater Dandenong</option>
    <option value="Manningham">Manningham</option>
    <option value="Melbourne">Melbourne</option>
    <option value="Monash">Monash</option>
    <option value="Whitehorse">Whitehorse</option>
    <option value="Whittlesea">Whittlesea</option>
    <option value="Wyndham">Wyndham</option>
    <div id="myheader"></div> 
      </select>-->

  <p>Select a new car from the list.</p>
  <form id="form1" action="/login" method="POST" enctype="multipart/form-data">
    <select id="mySelect" name="cars">
      <option value="Boroondara">Boroondara</option>
      <option value="Casey">Casey</option>
      <option value="Greater Dandenong">Greater Dandenong</option>
      <option value="Manningham">Manningham</option>
      <option value="Melbourne">Melbourne</option>
      <option value="Monash">Monash</option>
      <option value="Whitehorse">Whitehorse</option>
      <option value="Whittlesea">Whittlesea</option>
      <option value="Wyndham">Wyndham</option>
    </select>
    <select id="mySelect" name="motors">
      <option value="Boroondara">Boroondara</option>
      <option value="Casey">Casey</option>
      <option value="Greater Dandenong">Greater Dandenong</option>
      <option value="Manningham">Manningham</option>
      <option value="Melbourne">Melbourne</option>
      <option value="Monash">Monash</option>
      <option value="Whitehorse">Whitehorse</option>
      <option value="Whittlesea">Whittlesea</option>
      <option value="Wyndham">Wyndham</option>
    </select>
    
    <input type="submit" value="Submit" />
  </form>
  <!-- <form id="form2" action="/login" method="POST" enctype="multipart/form-data">
    <select id="mySelect" name="motors">
      <option value="Boroondara">Boroondara</option>
      <option value="Casey">Casey</option>
      <option value="Greater Dandenong">Greater Dandenong</option>
      <option value="Manningham">Manningham</option>
      <option value="Melbourne">Melbourne</option>
      <option value="Monash">Monash</option>
      <option value="Whitehorse">Whitehorse</option>
      <option value="Whittlesea">Whittlesea</option>
      <option value="Wyndham">Wyndham</option>
    </select>
    <input type="submit" value="Submit" />
  </form> -->
  <p>
    When you select a new car, a function is triggered which outputs the value
    of the selected car.
  </p>
  <div id="result">
    {% if car_brand is defined %}
    {{ car_brand["LGA"] }}
    {{ car_brand["id"] }}
    {{ car_brand["name"] }}
    {{ motor_brand["LGA"] }}
    {{ motor_brand["id"] }}
    {{ motor_brand["name"] }}

    <div
      class="tableauPlaceholder"
      id="{{ car_brand["id"]}}"
      style="position: relative"
    >
      <noscript
        ><a href="#"
          ><img
            alt=" "
            src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;We&#47;{{ car_brand["name"] }}&#47;Dashboard1&#47;1_rss.png"
            style="border: none"/></a></noscript
      ><object class="tableauViz" style="display:none;"
        ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
        <param name="embed_code_version" value="3"/>
        <param name="site_root" value=""/><param
          name="name"
          value="{{ car_brand["name"] }};Dashboard1"/><param
          name="tabs"
          value="no"/><param name="toolbar" value="yes"/><param
          name="static_image"
          value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;We&#47;{{ car_brand["name"] }}&#47;Dashboard1&#47;1.png"/>
        <param name="animate_transition" value="yes"/><param
          name="display_static_image"
          value="yes"/><param name="display_spinner" value="yes"/><param
          name="display_overlay"
          value="yes"/><param name="display_count" value="yes"/><param
          name="filter"
          value="publish=yes"
      /></object>
    </div>
    <script type="text/javascript">
      var divElement = document.getElementById("{{ car_brand["id"] }}");
      var vizElement = divElement.getElementsByTagName("object")[0];
      if (divElement.offsetWidth > 800) {
        vizElement.style.width = "500px";
        vizElement.style.height = "427px";
      } else if (divElement.offsetWidth > 500) {
        vizElement.style.width = "500px";
        vizElement.style.height = "427px";
      } else {
        vizElement.style.width = "100%";
        vizElement.style.height = "727px";
      }
      var scriptElement = document.createElement("script");
      scriptElement.src =
        "https://public.tableau.com/javascripts/api/viz_v1.js";
      vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
  </div>
  {% endif %}
  <script>
    function getSelectValue() {
      var selectedValue = document.getElementById("list").value;
      console.log(selectedValue);
      var para = document.createElement("P"); // Create a <p> element
      para.innerText = selectedValue; // Insert text
      document.body.appendChild(para);
    }
    getSelectValue();
  </script>
      {% endblock %}

</body>
