<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title></title>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700"
      rel="stylesheet"
    />

    <!-- Boomerang CSS (including Bootstrap) -->
    <link
      type="text/css"
      href="../static/assets/css/theme.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../static/assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    />
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/css/Navigation-Clean.css" />
  </head>
  <body>
        {% include 'includes/_navbar.html' %}
    <div class="container">
      <table class="table table-hover table-cards">
        <thead class='bg-gray'>
          <tr>
            <th scope="col">Event name</th>
            <th scope="col">Description</th>
            <th scope="col">Register</th>
          </tr>
        </thead>
        <tbody>
            {% for event in events %}
          <tr class="table-divider"></tr>
          <tr class="bg-white">
            <th scope="row">
              <div class="media align-items-center">
                <img
                  src="{{ event['logo']['url'] }}"
                  class="avatar avatar-lg mr-3"
                />
                <div class="media-body">
                  <h6 class="h5 font-weight-normal mb-0 text">{{ event['name']['text'] }}</h6>
                  <span class="font-weight-normal text-muted text-inline"
                    >{{ event['start']['local'][0:10] }}</span
                  >
                </div>
              </div>
            </th>
            <td><div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{ event['description']['text'][0:100] + "..." }}
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                                {{ event['description']['text'] }}
                        </div>
                      </div>
                    </div>
                </td>
            <td><a  href="{{ event['url'] }}" class="btn btn-success ">Read more</a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Bootstrap JS -->
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/popper/popper.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- FontAwesome 5 -->
    <script src="../static/assets/vendor/fontawesome/js/fontawesome-all.min.js"></script>

    <!-- Boomerang JS -->
    <script src="../static/assets/js/theme.js"></script>
    <script src="../static/assets/js/bootstrap.js"></script>
  </body>
</html>
