<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Connect to your Community</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile-noNationality-1.html">Profile</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="events-main.html">Events</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Compare</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-white text-center" style="background:url('assets/img/bg-masthead.jpg')no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Find events you interested in</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text"></div>
                            <div class="col-12 col-md-3"><button class="btn btn-dark btn-block btn-lg" type="submit">Search</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3>Event 1</h3>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event description:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event location:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event time:</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3>Event 1</h3>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event description:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event location:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event time:</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3>Event 1</h3>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event description:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event location:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event time:</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3>Event 1</h3>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event description:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event location:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event time:</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3>Event 1</h3>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event description:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event location:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event time:</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <h3>Event 1</h3>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event description:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event location:</p>
                        <p class="lead text-left text-sm-left text-md-left text-lg-left text-xl-left mb-0">Event time:</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer bg-light">
        <p class="text-center text-muted small mb-4 mb-lg-0">© Sharks in Suit</p>
    </footer>
    <div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>