<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>events</title>
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="static/assets/css/Navigation-Clean.css">
</head>

<body
  style="background-repeat: no-repeat;background-attachment: fixed;background-image: url(&quot;static/assets/img/bg-masthead.jpg&quot;);width: 100%;">
  <nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><img src="static/assets/img/shark.jpeg" style="width: 80px;"><a class="navbar-brand"
        href="/">Connecting2Communities</a><button data-toggle="collapse" class="navbar-toggler"
        data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/events-default">Events</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/comparetwo">Compare</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/learnmore">Learn More</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" id="MainTitle" style="background-color: transparent;;height: 115px;height: auto;">
    <div class="row" style="margin-top: 30px;">
      <div class="col mx-auto">
        <h1 class="text-center" style="margin-left: 0;"> Events in Victoria</h1>
      </div>
    </div>

    {% if events | length == 0 %}

    <div class="row" id="EventRow"
      style="margin-right: 26.5px;margin-left: 26.5px;margin-top: 8px;background-color: transparent;height: auto;margin-bottom: 30px;">

      <div class="col-xl-6" id="FirstResidentColumn"
        style="margin-top: 1px;border-style: solid;border-color: transparent;border-width: 4px;padding: 0;background-color: transparent;height: 250px;">
        <h2 class="text-center">No Events at the moment</h2>
        <h3 class="text-center">Please Check again later</h2>

      </div>
      <div class="col">

      </div>
    </div>

    {% else %}
    {% for event in events  %}
    <div class="row" id="EventRow"
      style="margin-right: 26.5px;margin-left: 26.5px;margin-top: 8px;background-color: transparent;height: auto;margin-bottom: 30px;">
      <div class="col-xl-3" id="FirstResidentColumn"
        style="margin-top: 1px;border-style: solid;border-color: transparent;border-width: 4px;padding: 0;background-color: transparent;height: 250px;">
        <img class="img-fluid" style="width: 100%;height: 240px;position: center;" src={{ event["logo_original"] }}>
      </div>
      <div class="col-xl-4" id="FirstResidentColumn"
        style="margin-top: 1px;border-style: solid;border-color: transparent;border-width: 4px;padding: 0;background-color: transparent;height: 250px;">
        <div class="row" style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);">
          <div class="col" style="min-height: 70px;max-height: auto;">
            <h1
              style="font-size: 22px;margin-top: 10px;margin-left: 7px;color: #3b59a7;height: auto;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">
              {{ event["name_text"]  }}
            </h1>
          </div>
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);">
          <div class="col" style="height: 55px;margin-top: auto;margin-bottom: auto;">
            <p style="margin-bottom: auto;margin-left: 7px;margin-top: auto;height: auto;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden ;"
              class="text-muted">
              {{ event["start_date"][8:10] + event["start_date"][4:8] + event["start_date"][0:4] }} </p>
          </div>
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);">
          <div class="col" style="height: 35px;margin-top: auto;margin-bottom: auto;">
            <p
              style="margin-bottom: auto;margin-left: 7px;margin-top: auto;height: auto;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;">
              {{ event["start_time"][0:5] }} -
              {{ event["end_time"][0:5] }}</p>
          </div>
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);">
          <div class="col" style="height: 80px;margin-top: auto;margin-bottom: auto;">
            <p
              style="margin-bottom: 5px;margin-left: 7px;margin-top: auto;height: auto;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;">
              {{ event["location"]  }}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-5" id="FirstResidentColumn"
        style="margin-top: 1px;border-style: solid;border-color: transparent; border-width: 4px;padding: 0;background-color: transparent;">
        <div class="row" style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);">
          <div class="col" style="height: 195px;min-height: 170px;max-height: auto;">
            <p
              style="margin-bottom: 18px;margin-left: 7px;margin-top: 5px;color: #30383a;height: auto;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;overflow: hidden;">
              {{ event["description_text"]  }}
            </p>
          </div>
        </div>
        <div class="row" style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);">
          <div class="col" style="height: 45px;">
            <div class="text-right"><a class="btn btn-primary text-white" role="button"
                href={{ event["url"]  }}><strong>Explore
                  More</strong></a></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <!-- <footer class="footer bg-light">
    <p class="text-center text-muted small mb-4 mb-lg-0">© Sharks in Suit</p>
  </footer> -->
  <script src="static/assets/js/jquery.min.js"></script>
  <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>