<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>index-2</title>
    <link
      rel="stylesheet"
      href="static/assets/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
    />
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="static/assets/css/Navigation-Clean.css" />
    <link rel="stylesheet" href="static/assets/css/untitled-1.css" />
    <link rel="stylesheet" href="static/assets/css/untitled-2.css" />
    <link rel="stylesheet" href="static/assets/css/untitled-3.css" />
    <link rel="stylesheet" href="static/assets/css/untitled-4.css" />
    <link rel="stylesheet" href="static/assets/css/untitled-5.css" />
    <link rel="stylesheet" href="static/assets/css/untitled.css" />
  </head>

  <body
    style='background-repeat: no-repeat;background-attachment: fixed;background-image: url("assets/img/bg-masthead.jpg");width: 100%;'
  >
    <div
      class="container"
      id="MainTitle"
      style="background-color: transparent;;height: 115px;height: auto;"
    >
      <div class="row" style="margin-top: 30px;">
        <div class="col mx-auto">
          <h1 class="text-center" style="margin-left: 0;">
            Chinese Events in Victoria
          </h1>
        </div>
      </div>
      <div
        class="row"
        id="Top5LanguageOtherThanEnglish"
        style="margin-right: 26.5px;margin-left: 26.5px;margin-top: 8px;background-color: transparent;height: 100%;"
      >
        <div
          class="col-6 col-xl-4"
          id="FirstResidentColumn"
          style="margin-top: 1px;border-style: solid;border-color: transparent; border-width: 4px;padding: 0;background-color: transparent;"
        >
          {% for events_row in events | batch(3, '&nbsp;') %}
          {{ events_row | length }}
          {% for event in events_row %} "inside each event loop \\n"
          {{ loop.index }} "-" {{ event["name"] | e }}
          {% endfor %} {% endfor %} <img class="img-fluid" style="width:
          100%;height: 210px;position: center;" src= />
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);"
          >
            <div
              class="col"
              style="height: auto;min-height: 198px;max-height: auto;"
            >
              <h1
                style="font-size: 22px;margin-top: 10px;margin-left: 7px;color: #3b59a7;height: auto;word-wrap: break-word;"
              ></h1>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;"
              ></p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;color: #30383a;height: auto;word-wrap: break-word;"
              >
                Summary xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              </p>
            </div>
          </div>
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 45px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col" style="height: 45px;">
              <button class="btn btn-primary" type="button">
                Explore More
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-6 col-xl-4"
          id="FirstResidentColumn"
          style="margin-top: 1px;border-style: solid;border-color: transparent; border-width: 4px;padding: 0;background-color: transparent;"
        >
          <img
            class="img-fluid"
            style="width: 100%;height: 210px;position: center;"
            src="assets/img/bg-showcase-1.jpg"
          />
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 198px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col">
              <p
                style="font-size: 22px;margin-top: 10px;margin-left: 7px;color: #3b59a7;height: auto;word-wrap: break-word;"
              >
                <strong>XXXXXTitle</strong>
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;"
              >
                xxxxxxDate and Time
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;color: #30383a;height: auto;word-wrap: break-word;"
              >
                Summary xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              </p>
            </div>
          </div>
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 45px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col" style="height: 45px;">
              <button class="btn btn-primary" type="button">
                Explore More
              </button>
            </div>
          </div>
        </div>

        <div
          class="col-xl-4"
          id="FirstResidentColumn"
          style="margin-top: 1px;border-style: solid;border-color: transparent; border-width: 4px;padding: 0;background-color: transparent;"
        >
          <img
            class="img-fluid"
            style="width: 100%;height: 210px;position: center;"
            src="static/assets/img/bg-showcase-2.jpg"
          />
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 198px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col">
              <p
                style="font-size: 22px;margin-top: 10px;margin-left: 7px;color: #3b59a7;height: auto;word-wrap: break-word;"
              >
                <strong>XXXXXTitle</strong>
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;"
              >
                xxxxxxDate and Time
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;color: #30383a;height: auto;"
              >
                Summary xxxxxxxxxxxxx
              </p>
            </div>
          </div>
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 45px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col" style="height: 45px;">
              <button class="btn btn-primary" type="button">
                Explore More
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row"
        id="Top5LanguageOtherThanEnglish"
        style="margin-right: 26.5px;margin-left: 26.5px;margin-top: 8px;background-color: transparent;height: 100%;"
      >
        <div
          class="col-xl-4"
          id="FirstResidentColumn"
          style="margin-top: 1px;border-style: solid;border-color: transparent; border-width: 4px;padding: 0;background-color: transparent;"
        >
          <img
            class="img-fluid"
            style="width: 100%;height: 210px;position: center;"
            src="assets/img/bg-showcase-3.jpg"
          />
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col" style="height: 198px;">
              <h1
                style="font-size: 22px;margin-top: 10px;margin-left: 7px;color: #3b59a7;height: auto;word-wrap: break-word;"
              >
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              </h1>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;"
              >
                xxxxxxDate and Time
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;color: #30383a;height: auto;"
              >
                Summary xxxxxxxxxxxxx
              </p>
            </div>
          </div>
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 45px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col" style="height: 45px;">
              <button class="btn btn-primary" type="button">
                Explore More
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4"
          id="FirstResidentColumn"
          style="margin-top: 1px;border-style: solid;border-color: transparent; border-width: 4px;padding: 0;background-color: transparent;"
        >
          <img
            class="img-fluid"
            style="width: 100%;height: 210px;position: center;"
            src="assets/img/bg-showcase-1.jpg"
          />
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 198px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col">
              <p
                style="font-size: 22px;margin-top: 10px;margin-left: 7px;color: #3b59a7;height: auto;word-wrap: break-word;"
              >
                <strong>XXXXXTitle</strong>
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;"
              >
                xxxxxxDate and Time
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;color: #30383a;height: auto;"
              >
                Summary xxxxxxxxxxxxx
              </p>
            </div>
          </div>
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 45px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col" style="height: 45px;">
              <button class="btn btn-primary" type="button">
                Explore More
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-xl-4"
          id="FirstResidentColumn"
          style="margin-top: 1px;border-style: solid;border-color: transparent; border-width: 4px;padding: 0;background-color: transparent;"
        >
          <img
            class="img-fluid"
            style="width: 100%;height: 210px;position: center;"
            src="assets/img/bg-showcase-2.jpg"
          />
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 198px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col">
              <p
                style="font-size: 22px;margin-top: 10px;margin-left: 7px;color: #3b59a7;height: auto;word-wrap: break-word;"
              >
                <strong>XXXXXTitle</strong>
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;"
              >
                xxxxxxDate and Time
              </p>
              <p
                style="margin-bottom: 18px;margin-left: 7px;margin-top: -11px;color: #30383a;height: auto;"
              >
                Summary xxxxxxxxxxxxx
              </p>
            </div>
          </div>
          <div
            class="row"
            style="margin-right: 0px;margin-left: 0;height: 45px;background-color: rgba(221,221,221,0.6);"
          >
            <div class="col" style="height: 45px;">
              <button class="btn btn-primary" type="button">
                Explore More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/scroll.js"></script>
    <script src="static/assets/js/sticky.js"></script>
  </body>
</html>
