<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
  <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="static/assets/css/style.css" />
  <link rel="stylesheet" href="static/assets/css/Navigation-Clean.css">
  <title>Learn More</title>
</head>

<body>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container"><img src="static/assets/img/shark.jpeg" style="width: 80px;"><a class="navbar-brand"
        href="/">Connecting2Communities</a><button data-toggle="collapse" class="navbar-toggler"
        data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/events-default">Events</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/comparetwo">Compare</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/learnmore">Learn More</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="static/assets/img/rsz_culture.jpg" alt="" />
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-5 text-justify">
                  Learn more about Australia
                </h1>
              </div>
            </div>

            <div class="p-4 bg-black">
              Please Choose a cultural category to browse
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div class="port-item p-2 bg-primary" data-toggle="collapse" data-target="#language">
                  <i class="fas fa-book-open fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Language</span>
                </div>
                <div class="port-item p-2 bg-success" data-toggle="collapse" data-target="#transport">
                  <i class="fas fa-bus fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Transport</span>
                </div>
                <div class="port-item p-2 bg-secondary" data-toggle="collapse" data-target="#sport">
                  <i class="fas fa-football-ball fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Sport</span>
                </div>
                <div class="port-item p-2 bg-danger" data-toggle="collapse" data-target="#culture">
                  <i class="fas fa-theater-masks fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Culture</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- language -->
    <div id="language" class="collapse show">
      <div class="card card-body bg-primary text-white py-5">
        <h2>Language</h2>
        <p class="lead">
          Australia has no official language, English is regarded as the de facto national language of Australia and is spoken by all. Australia is a linguistically and culturally diverse country with influences from more than 160 spoken languages. Australian English has a unique accent and vocabulary. Collectively, Australians have more than 200 spoken languages. A list of some common slang words (some found in other English-speaking countries) that should help you get by.
        </p>
      </div>

      <div class="card card-body py-5">
        <h3>Slangs</h3>
        <hr />
        <div class="row">
          <div class="col" style="border:0px solid #333">
            <ul>
              <li><b>A Cold One -> </b>Beer</li>
              <li><b>Arvo -> </b>Afternoon</li>
              <li><b>Avo -> </b>Avocado</li>
              <li><b>Barbie -> </b>Barbecue</li>
              <li><b>Bathers -> </b>Swimsuit</li>
            </ul>
          </div>
          <div class="col" style="border:0px solid #333">
            <ul>
              <li><b>Brekky -> </b>Breakfast</li>
              <li><b>Fair Dinkum -> </b>Honestly</li>
              <li><b>Footy -> </b>Football</li>
              <li><b>Lappy -> </b>Laptop</li>
              <li><b>Maccas -> </b>McDonalds</li>
            </ul>
          </div>
          <div class="col" style="border:0px solid #333">
            <ul>
              <li><b>Mozzie -> </b>Mosquito</li>
              <li><b>No Wucka’s -> </b>No worries</li>
              <li><b>Ripper -> </b>fantastic</li>
              <li><b>Sheila -> </b>A woman</li>
              <li><b>Snag -> </b>Sausage</li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col text-left">
            <a class="btn btn-info btn-lg" href="quiz-language">Test Your knowledge</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Transport -->
    <div id="transport" class="collapse">
      <div class="card card-body bg-success text-white py-5">
        <h2>Transport</h2>
        <p class="lead">
          The Victorian road network services the population centers, with highways, generally radiating from Melbourne and other major cities and rural centers with secondary roads interconnecting the roads to each other. Rail transport in Victoria is managed by several private and public railway operators who operate over government-owned lines. Major operators include Metro Trains Melbourne which runs an extensive, electrified, passenger system throughout Melbourne and suburbs; V-Line serves a concentrated service to major regional centers, as well as long-distance services on other lines. Myki is the only card widely used throughout Melbourne to travel.
        </p>
        <p class="lead">
          Melbourne has the world's largest tram network, currently operated by Yarra Trams. Melbourne Airport is the major domestic and international gateway for the state. Avalon airport is the state's second busiest airport, which complements Essendon and Moorabbin Airports. The Port of Melbourne is the largest port for containerized and general cargo in Australia and is in Melbourne on the mouth of the Yarra River, which is at the head of Port Phillip. Additional seaports are at Westernport, Geelong, and Portland.
        </p>
      </div>

      <div class="card card-body py-5">
        <h3>Myki Card</h3>
        <hr />
        <p>
          Myki card offers different rates and concessions that you can find
          out more about at <a href="https://www.ptv.vic.gov.au/tickets/myki/">PTV</a> website.
        </p>
        <hr />

        <div class="row">
          <div class="col text-left">
            <a class="btn btn-info btn-lg" href="quiz-transport">Test Your knowledge</a>
          </div>
        </div>
      </div>
    </div>

    <!-- sport -->
    <div id="sport" class="collapse">
      <div class="card card-body bg-secondary text-white py-5">
        <h2>Sports</h2>
        <p class="lead">
          Sport is an integral part of Australian culture, dating back to the early colonial period. Cricket, Australian rules football, rugby league, rugby union, soccer, and horse racing are among the earliest organized sports in Australia.
        </p>
        <h2>Australian Open</h2>
        <p class="lead">
          The Australian Open is a tennis tournament held annually over the last fortnight of January in Melbourne, Australia. The tournament is the first of the four Grand Slam tennis events held each year, preceding the French Open, Wimbledon, and the US Open. It features men's and women's singles; men's, women's, and mixed doubles; junior's championships; and wheelchair, legends, and exhibition events. Before 1988, it was played on grass courts, but since then two types of hard court surfaces have been used at Melbourne Park – green colored Rebound Ace up to 2007 and, afterward, blue Plex cushion.
        </p>
        <p class="lead">
          Starting in 1905, the Australian Open has grown to become the largest annual sporting event in the Southern Hemisphere. Nicknamed "the happy slam" and often referred to as the "Grand Slam of Asia/Pacific" the tournament is the highest attended Grand Slam event, with more than 780,000 people attending the 2019 edition. It was also the first Grand Slam tournament to feature indoor play during wet weather or extreme heat with its eventually three primary courts, the Rod Laver Arena, Melbourne Arena and the refurbished Margaret Court Arena equipped with retractable roofs.
        </p>
        <h2>Melbourne Cup</h2>
        <p class="lead">
          The Melbourne Cup is Australia's most famous annual Thoroughbred horse race. Conducted by the Victoria Racing Club on the Flemington Racecourse in Melbourne, Victoria as part of the Melbourne Spring Racing Carnival. It is the richest "two-mile" handicap in the world, and one of the richest turf races. The event starts at 3 pm on the first Tuesday in November and is known locally as "the race that stops a nation". The Melbourne Cup has a long tradition, with the first race held in 1861.
          <a class="text-warning" href="https://www.youtube.com/watch?v=RqfKEU_VQmU">Watch a video</a>
        </p>
        <h2>Australian Grand Prix</h2>
        <p class="lead">
          The Australian Grand Prix is a motor race held annually in Australia currently under contract to host Formula One until 2023. The Grand Prix is the second oldest surviving motor racing competition held in Australia, after the Alpine rally first held in 1921, having been contested 83 times since it was first run at Phillip Island in 1928. It is currently sponsored with naming rights by Swiss watchmaker Rolex.
        </p>
        <h2>Australian Football League (AFL)</h2>
        <p class="lead">
          Australian Rules Football or more commonly known as 'footy' is a game which requires many skills. Australian Football is the first only product of Australia that all Australians have embraced together since the colonization of Australia. It is unlike soccer or rugby, high marking, penetrating long kicking, and non-stop action is few rules which make it different. A footy match is 80 minutes long and is played in 4 quarters. An AFL team comprises of 22 players but only 18 play on the field at a time. Currently, there are 18 teams; ten are from Victoria out of which nine are located in the Melbourne metropolitan area.
          <a class="text-warning" href="https://www.youtube.com/watch?v=XMZYZcoAcU0 ">Watch a video</a>
        </p>

      </div>

      <div class="card card-body py-5">
        <h3>Sport Photos</h3>
        <p>
          If you are lucky enough to be living at Melbourne, you can catch all the sport events mentioned above.
        </p>
        <div class="row no-gutters">
          <div class="col-md-6">
            <a href="static/assets/img/tennis.jpg" data-toggle="lightbox">
              <img src="static/assets/img/tennis_resize.jpg" alt="" class="img-fluid" />
            </a>
          </div>
          <div class="col-md-6">
            <a href="static/assets/img/cup.jpg" data-toggle="lightbox">
              <img src="static/assets/img/cup_resize.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-6">
            <a href="static/assets/img/f1.jpg" data-toggle="lightbox">
              <img src="static/assets/img/f1_resize.jpg" alt="" class="img-fluid" />
            </a>
          </div>
          <div class="col-md-6">
            <a href="static/assets/img/afl.jpg" data-toggle="lightbox">
              <img src="static/assets/img/afl_resize.jpg" alt="" class="img-fluid" />
            </a>
          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col text-left">
            <a class="btn btn-info btn-lg" href="quiz-sport">Test Your knowledge</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Culture -->
    <div id="culture" class="collapse">
      <div class="card card-body bg-danger text-white py-5">
        <h2>Culture</h2>
        <p class="lead">
          Culture is the social behavior and norms found in human societies. Learn more about Australian Culture below:
        </p>
        <h2>Barbecue</h2>
        <p class="lead">
          In Australia, barbecues are a favorite summer pastime. Often referred to and known as a "Barbie" (plural "barbies"), and often also written as BBQ. The traditional meat used historically was lamb chops and beef steak for adults, and sausages (colloquially known as "snags") for both children and adults. Coin-operated or free public gas or electric barbecues are conventional in city parks. While Australian barbecue uses similar seasonings to its American counterpart, sugary sauces are used less often. Beer is usually drizzled over meat during cooking, the theory is that it adds flavor while making the meat more tender.
          <a class="text-warning"
            href="https://www.taste.com.au/articles/11-golden-rules-throwing-true-aussie-bbq/rflleq0y">Get Tips</a>
        </p>
        <h2>Beer</h2>
        <p class="lead">
          Australians love beer. When they are not drinking tea, they can be found sheltering at a watering hole sipping the amber nectar with mates. In translation, that means: they are in the pub drinking a beer with friends. The climate and the Australian culture are more suited to a cold beer than wine or other drinks. It’s true, of course, that Australia is today one of the great wine producing and exporting countries of the world, but if you go to any pub in any part of Australia, you’ll find most people drinking a cold, refreshing beer.

        </p>
        <h2>Beaches</h2>
        <p class="lead">
          Australia is the world's 6th largest country by area. Due to its large size and isolation from the rest of the world, Australia is known as the 'island continent'. It is famous for the beaches and coastal line it  offers. According to the Coastal Studies Unit at the University of Sydney has counted 10,685 beaches in Australia.Fact: If you visited one new beach in Australia every day, it would take more than 27 years to see them all.
          <a class="text-warning" href="http://www.australian-information-stories.com/australian-beaches.html">More
            Info</a>
        </p>
      </div>
      <div class="card card-body py-5">


        <div class="row">
          <div class="col text-left">
            <a class="btn btn-info btn-lg" href="quiz-culture">Test Your knowledge</a>
          </div>
        </div>


      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <script>
    $(".port-item").click(function () {
      $(".collapse").collapse("hide");
    });

    $(document).on("click", '[data-toggle="lightbox"]', function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
</body>

</html>