<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="static/assets/css/style.css" />
  <title>Bootstrap Theme</title>
</head>

<body>
  <div class="container">
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="static/assets/img/rsz_culture.jpg" alt="" />
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-5 text-justify">
                  Learn more about Australia
                </h1>
              </div>
            </div>

            <div class="p-4 bg-black">
              Please Choose a cultural category to browse
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div class="port-item p-2 bg-primary" data-toggle="collapse" data-target="#language">
                  <i class="fas fa-book-open fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Language</span>
                </div>
                <div class="port-item p-2 bg-success" data-toggle="collapse" data-target="#transport">
                  <i class="fas fa-bus fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Transport</span>
                </div>
                <div class="port-item p-2 bg-secondary" data-toggle="collapse" data-target="#sport">
                  <i class="fas fa-football-ball fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Sport</span>
                </div>
                <div class="port-item p-2 bg-danger" data-toggle="collapse" data-target="#culture">
                  <i class="fas fa-theater-masks fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Culture</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- language -->
    <div id="language" class="collapse show">
      <div class="card card-body bg-primary text-white py-5">
        <h2>Language</h2>
        <p class="lead">
          Australia has no official language, English is regarded as the de
          facto national language of Australia and is spoken by all. Even so,
          Australia is a linguistically and culturally diverse country with
          influences from more than 160 spoken languages. Australian English
          has a unique accent and vocabulary. Collectively,Australians have
          more than 200 spoken languages. A list of some common slang words
          (some found in other English-speaking countries) that should help
          you get by...
        </p>
      </div>

      <div class="card card-body py-5">
        <h3>Slangs</h3>
        <hr />
        <div class="row">
          <div class="col" style="border:0px solid #333">
            <ul>
              <li><b>A Cold One -> </b>Beer</li>
              <li><b>Arvo -> </b>Afternoon</li>
              <li><b>Avo -> </b>Avocado</li>
              <li><b>Barbie -> </b>Barbecue</li>
              <li><b>Bathers -> </b>Swimsuit</li>
            </ul>
          </div>
          <div class="col" style="border:0px solid #333">
            <ul>
              <li><b>Brekky -> </b>Breakfast</li>
              <li><b>Fair Dinkum -> </b>Honestly</li>
              <li><b>Footy -> </b>Football</li>
              <li><b>Lappy -> </b>Laptop</li>
              <li><b>Maccas -> </b>McDonalds</li>
            </ul>
          </div>
          <div class="col" style="border:0px solid #333">
            <ul>
              <li><b>Mozzie -> </b>Mosquito</li>
              <li><b>No Wucka’s -> </b>No worries</li>
              <li><b>Ripper -> </b>fantastic</li>
              <li><b>Sheila -> </b>A woman</li>
              <li><b>Snag -> </b>Sausage</li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col text-left">
            <a class="btn btn-info btn-lg" href="quiz-language">Test Your knowledge</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Transport -->
    <div id="transport" class="collapse">
      <div class="card card-body bg-success text-white py-5">
        <h2>Transport</h2>
        <p class="lead">
          The Victorian road network services the population centres, with
          highways generally radiating from Melbourne and other major cities
          and rural centres with secondary roads inter connecting the highways
          to each other. Rail transport in Victoria is provided by several
          private and public railway operators who operate
          overgovernment-owned lines. Major operators include:Metro Trains
          Melbourne which runs an extensive, electrified, passenger system
          throughout Melbourne andsuburbs;V/Lineoperates a concentrated
          service to major regional centres, as well aslong distance services
          on other lines. Myki is the only card widely used throughout
          Melbourne to travel.
        </p>
        <p class="lead">
          Melbourne has the world's largest tram network,currently operated by
          Yarra Trams.Melbourne Airportis the major domestic and international
          gateway for thestate.Avalon Airportis the state's second busiest
          airport, which complements Essendonand Moorabbin Airports. The Port
          of Melbourneis the largestport for containerised and general cargo
          in Australia and is in Melbourne on themouth of the Yarra River,
          which is at the head of Port Phillip. Additional seaports are at
          Westernport,Geelong, and Portland.
        </p>
      </div>

      <div class="card card-body py-5">
        <h3>Myki Card</h3>
        <hr />
        <p>
          Myki card offers different rates and concessions that you can find
          out more about at public Victoria website.
        </p>
        <hr />

        <div class="row">
          <div class="col text-left">
            <a class="btn btn-info btn-lg" href="quiz-transport">Test Your knowledge</a>
          </div>
        </div>
      </div>
    </div>

    <!-- sport -->
    <div id="sport" class="collapse">
      <div class="card card-body bg-secondary text-white py-5">
        <h2>Sports</h2>
        <p class="lead">
          Sport is an important part of Australian culture dating back to the
          early colonial period. Cricket, Australian rules football, rugby
          league, rugby union, soccer and horse racing are among the earliest
          organised sports in Australia.
        </p>
        <h2>Australian Open</h2>
        <p class="lead">
          The Australian Open is a tennis tournament held annually over the
          last fortnight of January in Melbourne, Australia. The tournament is
          the first of the four Grand Slam tennis events held each year,
          preceding the French Open, Wimbledon, and the US Open. It features
          men's and women's singles; men's, women's, and mixeddoubles;
          junior's championships; and wheelchair, legends, and exhibition
          events.Prior to 1988 it was played on grass courts, but since then
          two types of hardcourtsurfaces have been used at Melbourne Park –
          green colored Rebound Ace up to 2007 and, afterwards, blue Plex
          cushion.
        </p>
        <p class="lead">
          Starting in 1905, the Australian Open has grown to become the
          largest annual sporting event in the Southern Hemisphere. Nicknamed
          "the happy slam" and often referred to as the "Grand Slam of
          Asia/Pacific" the tournament is the highest attended Grand Slam
          event, with more than 780,000 people attending the 2019 edition. It
          was also the first Grand Slam tournament to feature indoor play
          during wet weather or extreme heat with its eventually three primary
          courts, the Rod Laver Arena, Melbourne Arena and the refurbished
          Margaret Court Arena equipped with retractable roofs.
        </p>
        <h2>Melbourne Cup</h2>
        <p class="lead">
          The Melbourne Cup is Australia's most famous annual Thoroughbred
          horse race. Conducted by the Victoria Racing Club on the Flemington
          Racecourse in Melbourne, Victoria as part of the Melbourne Spring
          Racing Carnival. It is the richest "two-mile" handicap in the world,
          and one of the richest turf races. The event starts at 3pm on the
          first Tuesday in November and is known locally as "the race that
          stops a nation". The Melbourne Cup has a long tradition, with the
          first race held in 1861.
          <a class="text-warning" href="https://www.youtube.com/watch?v=RqfKEU_VQmU">Watch a video</a>
        </p>
        <h2>Australian Grand Prix</h2>
        <p class="lead">
          The Australian Grand Prix is a motor race held annually in Australia currently under contract to host Formula
          One until 2023. The Grand Prix is the second oldest surviving motor racing competition held in Australia,
          after the Alpine rally first held in 1921, having been contested 83 times since it was first run at Phillip
          Island in 1928. It is currently sponsored with naming rights by Swiss watchmaker Rolex.
        </p>
        <h2>Australian Football League (AFL)</h2>
        <p class="lead">
          Australian Rules Football or more commonly known as 'footy' is game which requires many skills. Australian
          Football is the first only product of Australia that all Australians have embraced together since the
          colonization of Australia. It is unlike soccer or rugby, high marking, penetrating long kicking and non-stop
          action are few rules which make it different. A footy match is 80 minutes long and is played in 4 quarters. An
          AFL team comprises of 22 players but only 18 play on the field at a time. Currently there are 18 teams, 10 are
          from Victoria out of which 9 are located in Melbourne metropolitan area.
          <a class="text-warning" href="https://www.youtube.com/watch?v=XMZYZcoAcU0 ">Watch a video</a>
        </p>

      </div>

      <div class="card card-body py-5">
        <h3>Sport Photos</h3>
        <p>
          If you are lucky enough to be living at Melbourne, you can catch all the sport events mentioned above.
        </p>
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=252" alt="" class="img-fluid" />
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=253" alt="" class="img-fluid" />
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=254" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=256" alt="" class="img-fluid" />
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=257" alt="" class="img-fluid" />
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://unsplash.it/1200/768.jpg?image=258" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=258" alt="" class="img-fluid" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Culture -->
    <div id="culture" class="collapse">
      <div class="card card-body bg-danger text-white py-5">
        <h2>Culture</h2>
        <p class="lead">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!
        </p>
      </div>

      <div class="card card-body py-5">
        <h3>Get In Touch</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quos
          illo, dicta id voluptates enim.
        </p>
        <form>
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control bg-dark text-white" placeholder="Name" />
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <input type="email" class="form-control bg-dark text-white" placeholder="Email" />
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </div>
              <textarea class="form-control bg-dark text-white" placeholder="Name"></textarea>
            </div>
          </div>

          <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg" />
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <script>
    $(".port-item").click(function () {
      $(".collapse").collapse("hide");
    });

    $(document).on("click", '[data-toggle="lightbox"]', function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
</body>

</html>