{% extends 'layout.html' %}


  <body>
      {% include 'includes/_navbar.html' %} {% block body %}

   
    <header
      class="masthead text-white text-center"
      style="background: url('static/assets/img/india.jpg')no-repeat center center;background-size: cover;height: 857px;padding: 50px;width: -21;margin: 0px;max-height: 697px;min-height: -1061px;min-width: 0;"
    >
      <div class="row">
        <div class="col">
          <h1>INDIA</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Paragraph</p>
        </div>
      </div>
    </header>
    <section>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>LGA Rank</th>
              <th>LGA</th>
            </tr>
          </thead>
          <tbody>
              {% for china_row in nationality | batch(6, '&nbsp;') %}
              <tr>
                <td >{{ loop.index }}</td>
                {% for suburb in china_row[0:1] %}
                <td>
                  <a class=" btn btn-outline-info btn-lg" href="/lga/{{ suburb["Suburb"] }}">{{ suburb["Suburb"] }}</a>
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </section>
    {% endblock %}


  </body>
</html>
