{% extends 'layout.html' %}


<body>
        {% include 'includes/_navbar.html' %} {% block body %}
    <header class="masthead text-white text-center" style="background:url('static/assets/img/bg-masthead.jpg')no-repeat center center;background-size:cover;">
        <div class="row">
            <div class="col">
                <h1 class="mb-3">Please Select The Community Events</h1>
                <h1>That You Are Interested In </h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="dropdown"><button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="width: 160px;"><strong>Nationality</strong>&nbsp;</button>
                    <div class="dropdown-menu text-center" role="menu"><a class="dropdown-item" role="presentation" href="/events/china">CHINA</a><a class="dropdown-item" role="presentation" href="/events/india">INDIA</a>
                        <a
                            class="dropdown-item" role="presentation" href="/events/iran">IRAN</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

</body>

</html>